/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);

  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;

  --font-body: source sans pro, sans;
  --font-heading: open sans, sans;
  --font-post: source serif pro, sans serif;
  --font-quote: caveat, cursive;

  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;

  --fontSize-root: 1rem;

  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.1rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;

  --gray-100: #f6f9fc;
  --gray-200: #f3f8ff;
  --gray-300: #dae9ff;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #607286;
  --gray-700: #193b68;

  --blue: #3b8fff;
  --indigo: #3d5afe;
  --purple: #bb6bd9;
  --pink: #f29292;
  --red: #eb5757;
  --orange: #f2994a;
  --yellow: #ffd600;
  --green: #54e892;
  --teal: #69eae7;
  --cyan: #80deea;

  --dark-blue: #1479ff;
  --dark-indigo: #0228fe;
  --dark-purple: #bb6bd9;
  --dark-pink: #f29292;
  --dark-red: #eb5757;
  --dark-orange: #f2994a;
  --dark-yellow: #ffd600;
  --dark-green: #54e892;
  --dark-teal: #3be4df;
  --dark-cyan: #3dcddf;

  --very-dark-blue: #153258;

  --shadow-blue: rgba(59, 143, 255, 0.5);
  --shadow-indigo: #817fff;
  --shadow-purple: #bb6bd9;
  --shadow-pink: #f29292;
  --shadow-red: #eb5757;
  --shadow-orange: #f2994a;
  --shadow-yellow: #ffd600;
  --shadow-green: #54e892;
  --shadow-teal: #60e8e5;
  --shadow-cyan: rgba(62, 205, 223, 0.5);

  --color-primary: var(--blue);
  --color-secondary: var(--cyan);
  --color-text: var(--very-dark-blue);
  --color-text-light: var(--gray-600);
  --color-heading: var(--blue);
  --color-heading-black: var(--very-dark-blue);
  --color-accent: #80deea;

  --code: #f29292;

  --shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  --strong-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

::selection {
  background: var(--cyan);
  color: white;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  background: var(--gray-100);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--fontWeight-semibold);
  /* margin-top: var(--spacing-12); */
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  //margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  font-size: var(--fontSize-2);
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: inside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-3);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-secondary);
  font-family: var(--font-quote);
  margin-bottom: var(--spacing-8);
}

blockquote p,
blockquote > ul,
blockquote > ol {
  font-size: var(--fontSize-4);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Redesigning Bootstrap */

.btn {
  background: transparent;
  background-position: center;
  border: none;
  padding: 0 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 2rem;
  display: inline-block;
  font-weight: 600;
  min-width: 4rem;
  height: 2.25rem;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.8s;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.2)
    radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.2) 1%) center/15000%;
}

.btn:active {
  background-size: 100%;
  transition: background 0s;
}

.btn a {
  color: #fff;
}

//Review this part because is adding a weird border color if I dont use but also is making the ripple effect white instead of dark...
.btn:not(:disabled):not(.disabled):active,
.show > .btn.dropdown-toggle {
  background-color: transparent;
  border: none;
}

.btn-primary {
  background: linear-gradient(180deg, var(--blue) 0%, var(--dark-blue) 100%);
  box-shadow: 0 11px 26px 0 var(--shadow-blue);
}

.btn-primary:hover {
  background: var(--dark-blue)
    radial-gradient(circle, transparent 1%, var(--dark-blue) 1%) center/15000%;
}

.btn-primary:active {
  background-color: var(--blue);
  background-size: 100%;
  transition: background 0s;
}

.btn-info {
  background: linear-gradient(180deg, var(--cyan) 0%, var(--dark-cyan) 100%);
  box-shadow: 0 11px 26px 0 var(--shadow-cyan);
}

.btn-info:hover {
  background: var(--dark-cyan)
    radial-gradient(circle, transparent 1%, var(--dark-cyan) 1%) center/15000%;
}

.btn-info:active {
  background-color: var(--cyan);
  background-size: 100%;
  transition: background 0s;
}

.btn-secondary {
  color: #fff;
  background: linear-gradient(180deg, var(--teal) 0%, var(--dark-teal) 100%);
  box-shadow: 0 11px 26px 0 var(--shadow-cyan);
}

.btn-secondary:hover {
  background: var(--dark-teal)
    radial-gradient(circle, transparent 1%, var(--dark-teal) 1%) center/15000%;
}

.btn-secondary:active {
  background-color: var(--teal);
  background-size: 100%;
  border-color: transparent !important;
  transition: background 0s;
}

.card {
  border: none;
  border-radius: 0.7rem;
  box-shadow: var(--shadow);
  overflow: hidden;
}

/*
.card:hover {
  box-shadow: var(--shadow);
  transform: translateY(-20px);
  transition: all 0.15s ease;
}
*/

.card-columns .card {
  //display: block;
  margin: 0 1.3rem;
  margin-bottom: 2rem;
  height: auto;
}

.badge-secondary {
  background: var(--gray-300);
  color: var(--gray-800);
  font-weight: 600;
  text-transform: uppercase;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  border: 0;
  border-left: 0.3rem solid var(--blue) !important;
}

/* Prism code editor */

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--gray-300) !important;
  border-radius: 0.5rem;
  //box-shadow: var(--shadow);
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--gray-700) !important;
  text-shadow: none !important;
}

/* Custom classes */

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-0);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Media queries */

@media (max-width: 64rem) {
  .card-columns {
    column-count: 2;
  }
}

@media (max-width: 48rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  .card-columns {
    column-count: 1;
  }
}
